<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 此处与接口类地址对应 -->
<mapper namespace="com.spring.boot.example.springboot.mybatis.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.spring.boot.example.springboot.mybatis.dao.User">
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
    </resultMap>

    <!-- 此处与接口方法名对应 指定参数类型与返回结果类型-->
    <select id="getUserById" resultMap="UserResultMap">
        select * from sys_user where id=#{id}
    </select>

    <select id="getAll" resultMap="UserResultMap">
        select * from sys_user
    </select>
</mapper>